-- MySQL dump 10.13  Distrib 8.0.32, for Win64 (x86_64)
--
-- Host: localhost    Database: home_services
-- ------------------------------------------------------
-- Server version	8.0.32

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_booking`
--

DROP TABLE IF EXISTS `accounts_booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_booking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order_id` varchar(20) NOT NULL,
  `name` varchar(100) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `address` longtext NOT NULL,
  `problem` longtext NOT NULL,
  `status` varchar(20) NOT NULL,
  `scheduled_date` date DEFAULT NULL,
  `scheduled_time` varchar(50) DEFAULT NULL,
  `booking_created_at` datetime(6) NOT NULL,
  `category_id` bigint NOT NULL,
  `service_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `vendor_id` bigint DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `renewal_requested` tinyint(1) NOT NULL,
  `is_renewed` tinyint(1) NOT NULL,
  `previous_total_days` int DEFAULT NULL,
  `renewal_count` int NOT NULL,
  `admin_id` bigint DEFAULT NULL,
  `booking_updated_at` datetime(6) NOT NULL,
  `estimated_amount` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_id` (`order_id`),
  KEY `accounts_booking_category_id_b12c295b_fk_core_category_id` (`category_id`),
  KEY `accounts_booking_service_id_f2b5d13b_fk_core_categoryservice_id` (`service_id`),
  KEY `accounts_booking_user_id_2ea98fac_fk_accounts_user_id` (`user_id`),
  KEY `accounts_booking_vendor_id_9bc891ab_fk_accounts_user_id` (`vendor_id`),
  KEY `accounts_booking_admin_id_3e52e328_fk_accounts_user_id` (`admin_id`),
  CONSTRAINT `accounts_booking_admin_id_3e52e328_fk_accounts_user_id` FOREIGN KEY (`admin_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `accounts_booking_category_id_b12c295b_fk_core_category_id` FOREIGN KEY (`category_id`) REFERENCES `core_category` (`id`),
  CONSTRAINT `accounts_booking_service_id_f2b5d13b_fk_core_categoryservice_id` FOREIGN KEY (`service_id`) REFERENCES `core_categoryservice` (`id`),
  CONSTRAINT `accounts_booking_user_id_2ea98fac_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `accounts_booking_vendor_id_9bc891ab_fk_accounts_user_id` FOREIGN KEY (`vendor_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_booking`
--

LOCK TABLES `accounts_booking` WRITE;
/*!40000 ALTER TABLE `accounts_booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_bookinghistory`
--

DROP TABLE IF EXISTS `accounts_bookinghistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_bookinghistory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `booking_id` bigint NOT NULL,
  `updated_by_id` bigint DEFAULT NULL,
  `service_days` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `accounts_bookinghist_booking_id_08af0d23_fk_accounts_` (`booking_id`),
  KEY `accounts_bookinghist_updated_by_id_3ad851f4_fk_accounts_` (`updated_by_id`),
  CONSTRAINT `accounts_bookinghist_booking_id_08af0d23_fk_accounts_` FOREIGN KEY (`booking_id`) REFERENCES `accounts_booking` (`id`),
  CONSTRAINT `accounts_bookinghist_updated_by_id_3ad851f4_fk_accounts_` FOREIGN KEY (`updated_by_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_bookinghistory`
--

LOCK TABLES `accounts_bookinghistory` WRITE;
/*!40000 ALTER TABLE `accounts_bookinghistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_bookinghistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_customerremark`
--

DROP TABLE IF EXISTS `accounts_customerremark`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_customerremark` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `message` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `booking_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `vendor_id` bigint NOT NULL,
  `priority` varchar(10) NOT NULL,
  `resolved_by_id` bigint DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `accounts_customerrem_booking_id_8abeb4fb_fk_accounts_` (`booking_id`),
  KEY `accounts_customerremark_user_id_be22136a_fk_accounts_user_id` (`user_id`),
  KEY `accounts_customerremark_vendor_id_efd07df4_fk_accounts_user_id` (`vendor_id`),
  KEY `accounts_customerrem_resolved_by_id_a2fac6b1_fk_accounts_` (`resolved_by_id`),
  CONSTRAINT `accounts_customerrem_booking_id_8abeb4fb_fk_accounts_` FOREIGN KEY (`booking_id`) REFERENCES `accounts_booking` (`id`),
  CONSTRAINT `accounts_customerrem_resolved_by_id_a2fac6b1_fk_accounts_` FOREIGN KEY (`resolved_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `accounts_customerremark_user_id_be22136a_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `accounts_customerremark_vendor_id_efd07df4_fk_accounts_user_id` FOREIGN KEY (`vendor_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_customerremark`
--

LOCK TABLES `accounts_customerremark` WRITE;
/*!40000 ALTER TABLE `accounts_customerremark` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_customerremark` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_notification`
--

DROP TABLE IF EXISTS `accounts_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `message` longtext NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `booking_id` bigint DEFAULT NULL,
  `payment_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `accounts_notification_booking_id_a9db6da0_fk_accounts_booking_id` (`booking_id`),
  KEY `accounts_notification_payment_id_c90e7506_fk_accounts_payment_id` (`payment_id`),
  KEY `accounts_notification_user_id_30e6cfc5_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `accounts_notification_booking_id_a9db6da0_fk_accounts_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `accounts_booking` (`id`),
  CONSTRAINT `accounts_notification_payment_id_c90e7506_fk_accounts_payment_id` FOREIGN KEY (`payment_id`) REFERENCES `accounts_payment` (`id`),
  CONSTRAINT `accounts_notification_user_id_30e6cfc5_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_notification`
--

LOCK TABLES `accounts_notification` WRITE;
/*!40000 ALTER TABLE `accounts_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_otp`
--

DROP TABLE IF EXISTS `accounts_otp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_otp` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `phone` varchar(10) NOT NULL,
  `otp` varchar(6) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_otp`
--

LOCK TABLES `accounts_otp` WRITE;
/*!40000 ALTER TABLE `accounts_otp` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_otp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_payment`
--

DROP TABLE IF EXISTS `accounts_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL,
  `transaction_id` varchar(100) DEFAULT NULL,
  `screenshot` varchar(100) DEFAULT NULL,
  `payment_created_at` datetime(6) NOT NULL,
  `booking_id` bigint NOT NULL,
  `service_id` bigint DEFAULT NULL,
  `vendor_id` bigint DEFAULT NULL,
  `paid_amount` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `remaining_amount` decimal(10,2) NOT NULL,
  `payment_method` varchar(20) NOT NULL,
  `due_date` date DEFAULT NULL,
  `payment_request` longtext,
  `reminder_sent` tinyint(1) NOT NULL,
  `payment_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `accounts_payment_booking_id_3c920187_fk_accounts_booking_id` (`booking_id`),
  KEY `accounts_payment_service_id_c62d76d1_fk_core_categoryservice_id` (`service_id`),
  KEY `accounts_payment_vendor_id_4ce1ef96_fk_accounts_user_id` (`vendor_id`),
  CONSTRAINT `accounts_payment_booking_id_3c920187_fk_accounts_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `accounts_booking` (`id`),
  CONSTRAINT `accounts_payment_service_id_c62d76d1_fk_core_categoryservice_id` FOREIGN KEY (`service_id`) REFERENCES `core_categoryservice` (`id`),
  CONSTRAINT `accounts_payment_vendor_id_4ce1ef96_fk_accounts_user_id` FOREIGN KEY (`vendor_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_payment`
--

LOCK TABLES `accounts_payment` WRITE;
/*!40000 ALTER TABLE `accounts_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_termsacceptance`
--

DROP TABLE IF EXISTS `accounts_termsacceptance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_termsacceptance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `signature` varchar(100) NOT NULL,
  `accepted` tinyint(1) NOT NULL,
  `accepted_at` datetime(6) NOT NULL,
  `customer_id` bigint NOT NULL,
  `booking_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `accounts_termsaccept_customer_id_5ee28101_fk_accounts_` (`customer_id`),
  KEY `accounts_termsaccept_booking_id_578c4bb0_fk_accounts_` (`booking_id`),
  CONSTRAINT `accounts_termsaccept_booking_id_578c4bb0_fk_accounts_` FOREIGN KEY (`booking_id`) REFERENCES `accounts_booking` (`id`),
  CONSTRAINT `accounts_termsaccept_customer_id_5ee28101_fk_accounts_` FOREIGN KEY (`customer_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_termsacceptance`
--

LOCK TABLES `accounts_termsacceptance` WRITE;
/*!40000 ALTER TABLE `accounts_termsacceptance` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_termsacceptance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user`
--

DROP TABLE IF EXISTS `accounts_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `role` varchar(20) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `address` longtext,
  `area` varchar(150) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL,
  `pincode` varchar(10) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `profile_image` varchar(100) DEFAULT NULL,
  `behaviour` varchar(20) NOT NULL,
  `behaviour_note` longtext,
  `user_created_at` datetime(6) NOT NULL,
  `user_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `accounts_user_created_by_id_ba68b522_fk_accounts_user_id` (`created_by_id`),
  CONSTRAINT `accounts_user_created_by_id_ba68b522_fk_accounts_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user`
--

LOCK TABLES `accounts_user` WRITE;
/*!40000 ALTER TABLE `accounts_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_groups`
--

DROP TABLE IF EXISTS `accounts_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_groups_user_id_group_id_59c0b32f_uniq` (`user_id`,`group_id`),
  KEY `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `accounts_user_groups_user_id_52b62117_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_groups`
--

LOCK TABLES `accounts_user_groups` WRITE;
/*!40000 ALTER TABLE `accounts_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_services`
--

DROP TABLE IF EXISTS `accounts_user_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_services` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `categoryservice_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_services_user_id_categoryservice_id_5ace8a8a_uniq` (`user_id`,`categoryservice_id`),
  KEY `accounts_user_servic_categoryservice_id_c5a4ae5a_fk_core_cate` (`categoryservice_id`),
  CONSTRAINT `accounts_user_servic_categoryservice_id_c5a4ae5a_fk_core_cate` FOREIGN KEY (`categoryservice_id`) REFERENCES `core_categoryservice` (`id`),
  CONSTRAINT `accounts_user_services_user_id_b4f9ad64_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_services`
--

LOCK TABLES `accounts_user_services` WRITE;
/*!40000 ALTER TABLE `accounts_user_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_user_permissions`
--

DROP TABLE IF EXISTS `accounts_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq` (`user_id`,`permission_id`),
  KEY `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `accounts_user_user_p_user_id_e4f0a161_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_user_permissions`
--

LOCK TABLES `accounts_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `accounts_user_user_permissions` DISABLE KEYS */;
INSERT INTO `accounts_user_user_permissions` VALUES (145,20,52),(150,20,61),(151,20,62),(134,20,64),(135,20,65),(136,20,66),(137,20,67),(138,20,68),(139,20,69),(140,20,70),(141,20,72),(142,20,81),(143,20,82),(144,20,83),(146,20,84),(147,20,85),(148,20,86),(149,20,88),(74,24,69),(75,24,70);
/*!40000 ALTER TABLE `accounts_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_vendorprofile`
--

DROP TABLE IF EXISTS `accounts_vendorprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_vendorprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `experience` int unsigned NOT NULL,
  `locality` varchar(200) NOT NULL,
  `street` varchar(200) NOT NULL,
  `city` varchar(100) NOT NULL,
  `postal_code` varchar(10) NOT NULL,
  `company_name` varchar(200) NOT NULL,
  `company_address` longtext NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `rating` double NOT NULL,
  `total_jobs` int NOT NULL,
  `profile_created_at` datetime(6) NOT NULL,
  `category_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `license_file` varchar(100) DEFAULT NULL,
  `license_number` varchar(50) DEFAULT NULL,
  `pan_card` varchar(100) DEFAULT NULL,
  `pan_number` varchar(30) DEFAULT NULL,
  `verified_at` datetime(6) DEFAULT NULL,
  `profile_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `accounts_vendorprofile_category_id_30625fe1_fk_core_category_id` (`category_id`),
  KEY `accounts_vendorprofile_locality_024fcc8f` (`locality`),
  KEY `accounts_vendorprofile_city_d3071945` (`city`),
  KEY `accounts_vendorprofile_postal_code_45234c24` (`postal_code`),
  CONSTRAINT `accounts_vendorprofile_category_id_30625fe1_fk_core_category_id` FOREIGN KEY (`category_id`) REFERENCES `core_category` (`id`),
  CONSTRAINT `accounts_vendorprofile_user_id_320a0e9f_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `accounts_vendorprofile_chk_1` CHECK ((`experience` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_vendorprofile`
--

LOCK TABLES `accounts_vendorprofile` WRITE;
/*!40000 ALTER TABLE `accounts_vendorprofile` DISABLE KEYS */;
INSERT INTO `accounts_vendorprofile` VALUES (6,0,'Default','Default','Hyderabad','520520','','',0,0,0,'2026-05-26 09:40:22.957689',1,21,'',NULL,'',NULL,NULL,'2026-05-26 09:40:22.957689'),(7,0,'Default','Default','Gurazala','522415','','',0,0,0,'2026-05-26 09:42:04.396508',1,22,'',NULL,'',NULL,NULL,'2026-05-26 09:42:04.396508');
/*!40000 ALTER TABLE `accounts_vendorprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_vendorprofile_services`
--

DROP TABLE IF EXISTS `accounts_vendorprofile_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_vendorprofile_services` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `vendorprofile_id` bigint NOT NULL,
  `categoryservice_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_vendorprofile_s_vendorprofile_id_categor_f909212b_uniq` (`vendorprofile_id`,`categoryservice_id`),
  KEY `accounts_vendorprofi_categoryservice_id_8422776d_fk_core_cate` (`categoryservice_id`),
  CONSTRAINT `accounts_vendorprofi_categoryservice_id_8422776d_fk_core_cate` FOREIGN KEY (`categoryservice_id`) REFERENCES `core_categoryservice` (`id`),
  CONSTRAINT `accounts_vendorprofi_vendorprofile_id_ef48a97d_fk_accounts_` FOREIGN KEY (`vendorprofile_id`) REFERENCES `accounts_vendorprofile` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_vendorprofile_services`
--

LOCK TABLES `accounts_vendorprofile_services` WRITE;
/*!40000 ALTER TABLE `accounts_vendorprofile_services` DISABLE KEYS */;
INSERT INTO `accounts_vendorprofile_services` VALUES (6,6,1),(7,7,1);
/*!40000 ALTER TABLE `accounts_vendorprofile_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_visitor`
--

DROP TABLE IF EXISTS `accounts_visitor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_visitor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ip_address` char(39) NOT NULL,
  `country` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `browser` varchar(100) DEFAULT NULL,
  `device` varchar(100) DEFAULT NULL,
  `operating_system` varchar(100) DEFAULT NULL,
  `page_url` longtext NOT NULL,
  `visited_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_visitor_ip_address_5a68a43b_uniq` (`ip_address`)
) ENGINE=InnoDB AUTO_INCREMENT=206 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_visitor`
--

LOCK TABLES `accounts_visitor` WRITE;
/*!40000 ALTER TABLE `accounts_visitor` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_visitor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=120 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_category`
--

DROP TABLE IF EXISTS `core_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL,
  `title` varchar(200) NOT NULL,
  `description` longtext NOT NULL,
  `icon` varchar(100) NOT NULL,
  `badge` varchar(50) NOT NULL,
  `tags` varchar(200) NOT NULL,
  `banner_image` varchar(100) DEFAULT NULL,
  `category_about_des` longtext NOT NULL,
  `category_about_img` varchar(100) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `category_created_at` datetime(6) NOT NULL,
  `category_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_category`
--

LOCK TABLES `core_category` WRITE;
/*!40000 ALTER TABLE `core_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_categoryservice`
--

DROP TABLE IF EXISTS `core_categoryservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_categoryservice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `s_tag` varchar(150) NOT NULL,
  `s_title` varchar(100) NOT NULL,
  `s_desc` longtext NOT NULL,
  `image` varchar(100) DEFAULT NULL,
  `categoryservice_created_at` datetime(6) NOT NULL,
  `Categoryservice_updated_at` datetime(6) NOT NULL,
  `category_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_categoryservice_category_id_043296f4_fk_core_category_id` (`category_id`),
  CONSTRAINT `core_categoryservice_category_id_043296f4_fk_core_category_id` FOREIGN KEY (`category_id`) REFERENCES `core_category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_categoryservice`
--

LOCK TABLES `core_categoryservice` WRITE;
/*!40000 ALTER TABLE `core_categoryservice` DISABLE KEYS */;
INSERT INTO `core_categoryservice` VALUES (1,'Home Servcie','AC Repair Service','Fast and reliable AC repair service for cooling, installation, gas filling, and maintenance at your home.','categories_service_images/ac_repair.webp','2026-05-14 05:11:19.328545','2026-05-14 05:11:19.328545',1),(2,'electrical','Electrical Servcie','Here\'s your cleaned-up code with refined, compact styling ΓÇö same structure and Django template logic','categories_service_images/electrical_.webp','2026-05-14 06:11:17.192557','2026-05-29 05:05:38.599631',1);
/*!40000 ALTER TABLE `core_categoryservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_contact`
--

DROP TABLE IF EXISTS `core_contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_contact` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `city` varchar(100) NOT NULL,
  `message` longtext NOT NULL,
  `status` varchar(20) NOT NULL,
  `contact_created_at` datetime(6) NOT NULL,
  `contact_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_contact`
--

LOCK TABLES `core_contact` WRITE;
/*!40000 ALTER TABLE `core_contact` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_footer`
--

DROP TABLE IF EXISTS `core_footer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_footer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `logo_image` varchar(100) DEFAULT NULL,
  `footer_description` longtext NOT NULL,
  `phone_num` varchar(15) NOT NULL,
  `whatsapp_num` varchar(15) NOT NULL,
  `email` varchar(254) NOT NULL,
  `address` longtext NOT NULL,
  `facebook` varchar(200) DEFAULT NULL,
  `instagram` varchar(200) DEFAULT NULL,
  `whatsapp` varchar(200) DEFAULT NULL,
  `twitter` varchar(200) DEFAULT NULL,
  `footer_created_at` datetime(6) NOT NULL,
  `footer_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_footer`
--

LOCK TABLES `core_footer` WRITE;
/*!40000 ALTER TABLE `core_footer` DISABLE KEYS */;
INSERT INTO `core_footer` VALUES (1,'footer/logo/sridixitha_logo_pVGa7ci_3VzgekL.gif','At Sri Dixitha Enterprises, we provide trusted staffing solutions including domestic help, caregivers, and professional services. We connect people with the right opportunities and deliver reliable support for homes and businesses.\r\n\r\n','9966286721','9292657671','support@sridixitha.com','support@sridixitha.com','','','','','2026-05-14 04:57:47.733419','2026-05-20 07:39:07.771628');
/*!40000 ALTER TABLE `core_footer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_herobanner`
--

DROP TABLE IF EXISTS `core_herobanner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_herobanner` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `heading` varchar(255) NOT NULL,
  `sub_heading` varchar(255) NOT NULL,
  `image` varchar(100) NOT NULL,
  `herosection_created_at` datetime(6) NOT NULL,
  `herosection_updated_at` date NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_herobanner`
--

LOCK TABLES `core_herobanner` WRITE;
/*!40000 ALTER TABLE `core_herobanner` DISABLE KEYS */;
INSERT INTO `core_herobanner` VALUES (1,'Find The Best Home Services 12','Connecting you with trusted professionals for quality service.','hero/banner_img_02_sWIXogQ_H4Oa0MC.webp','2026-05-14 04:44:29.537275','2026-05-21'),(2,'Find The Best Home Services','Connecting you with trusted professionals for quality service.','hero/banner_img_01_SueEnga.webp','2026-05-14 04:44:48.690978','2026-05-20');
/*!40000 ALTER TABLE `core_herobanner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_job`
--

DROP TABLE IF EXISTS `core_job`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_job` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `icon` varchar(100) NOT NULL,
  `title` varchar(150) NOT NULL,
  `description` longtext NOT NULL,
  `status` varchar(20) NOT NULL,
  `job_type` varchar(20) NOT NULL,
  `work_mode` varchar(20) NOT NULL,
  `job_created_at` datetime(6) NOT NULL,
  `job_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_job`
--

LOCK TABLES `core_job` WRITE;
/*!40000 ALTER TABLE `core_job` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_jobapplication`
--

DROP TABLE IF EXISTS `core_jobapplication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_jobapplication` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `experience` varchar(100) NOT NULL,
  `expected_salary` decimal(10,2) NOT NULL,
  `address` longtext NOT NULL,
  `resume` varchar(100) NOT NULL,
  `photo` varchar(100) DEFAULT NULL,
  `jobapplication_created_at` datetime(6) NOT NULL,
  `job_id` bigint NOT NULL,
  `jobapplication_updated_at` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_jobapplication_job_id_b1d0ac28_fk_core_job_id` (`job_id`),
  CONSTRAINT `core_jobapplication_job_id_b1d0ac28_fk_core_job_id` FOREIGN KEY (`job_id`) REFERENCES `core_job` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_jobapplication`
--

LOCK TABLES `core_jobapplication` WRITE;
/*!40000 ALTER TABLE `core_jobapplication` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_jobapplication` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_news`
--

DROP TABLE IF EXISTS `core_news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_news` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` longtext NOT NULL,
  `news_created_at` datetime(6) NOT NULL,
  `news_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_news`
--

LOCK TABLES `core_news` WRITE;
/*!40000 ALTER TABLE `core_news` DISABLE KEYS */;
INSERT INTO `core_news` VALUES (1,'Breaking: New job opportunities available across India','2026-05-14 04:40:32.796152','2026-05-14 04:40:32.835507'),(2,' Home services demand increasing','2026-05-14 04:40:44.231520','2026-05-14 04:40:44.236320'),(3,' Special offers on insurance and loan services','2026-05-14 04:40:54.649752','2026-05-14 04:40:54.655585'),(4,'  IT companies hiring freshers in 2026 ','2026-05-14 04:41:18.091492','2026-05-27 06:34:50.865280');
/*!40000 ALTER TABLE `core_news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_servicefeedback`
--

DROP TABLE IF EXISTS `core_servicefeedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_servicefeedback` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `service_name` varchar(150) NOT NULL,
  `customer_name` varchar(100) NOT NULL,
  `customer_type` varchar(50) NOT NULL,
  `image` varchar(100) DEFAULT NULL,
  `rating` smallint unsigned NOT NULL,
  `description` longtext NOT NULL,
  `feedback_created_at` datetime(6) NOT NULL,
  `feedback_updated_at` date NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `core_servicefeedback_chk_1` CHECK ((`rating` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_servicefeedback`
--

LOCK TABLES `core_servicefeedback` WRITE;
/*!40000 ALTER TABLE `core_servicefeedback` DISABLE KEYS */;
INSERT INTO `core_servicefeedback` VALUES (3,'Maid','Mamatha','Client','feedback_images/tes4_fJMldgT.png',4,'Our professional maid services ensure a clean, organized, and comfortable home, delivering reliable support and complete customer satisfaction.','2026-06-02 05:58:14.008030','2026-06-02'),(4,'Cook','Ravi','Client','feedback_images/tes2_Iy4X4Yh_4bmTOGI.png',4,'Our professional maid services ensure a clean, organized, and comfortable home, delivering reliable support and complete customer satisfaction.','2026-06-02 05:58:43.695220','2026-06-02');
/*!40000 ALTER TABLE `core_servicefeedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_servicescards`
--

DROP TABLE IF EXISTS `core_servicescards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_servicescards` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `servicename` varchar(150) NOT NULL,
  `serviceicon` varchar(100) NOT NULL,
  `service_image` varchar(100) NOT NULL,
  `servicecard_created_at` datetime(6) NOT NULL,
  `servicecard_updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_servicescards`
--

LOCK TABLES `core_servicescards` WRITE;
/*!40000 ALTER TABLE `core_servicescards` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_servicescards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_cache_table`
--

DROP TABLE IF EXISTS `otp_cache_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otp_cache_table` (
  `cache_key` varchar(255) NOT NULL,
  `value` longtext NOT NULL,
  `expires` datetime(6) NOT NULL,
  PRIMARY KEY (`cache_key`),
  KEY `otp_cache_table_expires` (`expires`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_cache_table`
--

LOCK TABLES `otp_cache_table` WRITE;
/*!40000 ALTER TABLE `otp_cache_table` DISABLE KEYS */;
INSERT INTO `otp_cache_table` VALUES (':1:otp_9010027126','gAWVCAAAAAAAAACMBDEyMzSULg==','2026-06-02 05:38:19.000000'),(':1:otp_lock_9010027126','gAWILg==','2026-06-02 05:36:49.000000');
/*!40000 ALTER TABLE `otp_cache_table` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-02 11:38:00
