{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow-sm border-0 rounded-3">

        <!-- Header -->
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0 text-white">News List</h5>
            <a href="{% url 'create.banner' %}" class="btn btn-sm btn-success">
                <i class="bi bi-plus-circle-fill"></i> Add Banners
            </a>
        </div>

        <!-- Table -->
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover align-middle">

                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Headline</th>
                            <th>Sub Heading</th>
                            <th>Banner Image</th>
                            <th>created Date</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for baner in banner %}
                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>
                                {{ baner.heading }}
                            </td>
                            <td>
                                {{ baner.sub_heading }}
                            </td>
                            <td>
                                {% if baner.image %}
                                <img src="{{ baner.image.url }}" width="100px" height="100px">
                                {% endif %}
                            </td>
                            <td>{{ baner.created_at|date:"d M Y" }}</td>

                            <td class="text-center">
                                <a href="{% url 'update.banner' baner.pk %}" class="text-warning me-2" title="Edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                                <a href="{% url 'delete.banner' baner.pk %}" class="text-danger" title="Delete"
                                    onclick="return confirm('Are you sure you want to delete this?')">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted py-4">
                                No record available
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>
{% if page_obj %}
<div class="d-flex justify-content-center mt-4">
    <ul class="pagination custom-pagination">

        <!-- Prev -->
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">←</a>
        </li>
        {% endif %}

        <!-- Numbers -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="active"><span>{{ num }}</span></li>
            {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                <li>
                    <a href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <!-- Next -->
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">→</a>
        </li>
        {% endif %}

    </ul>
</div>
{% endif %}
{% endblock %}