{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Dashboard </title>



  <!-- remix icon font css -->
  <link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}">

  <!-- BootStrap css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/bootstrap.min.css' %}">

  <!-- Apex Chart css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/apexcharts.css' %}">

  <!-- Data Table css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/dataTables.min.css' %}">

  <!-- Text Editor css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/editor-katex.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/lib/editor.atom-one-dark.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/lib/editor.quill.snow.css' %}">

  <!-- Date picker css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/flatpickr.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Calendar css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/full-calendar.css' %}">

  <!-- Vector Map css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/jquery-jvectormap-2.0.5.css' %}">

  <!-- Popup css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/magnific-popup.css' %}">

  <!-- Slick Slider css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/slick.css' %}">

  <!-- prism css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/prism.css' %}">

  <!-- file upload css -->
  <link rel="stylesheet" href="{% static 'assets/css/lib/file-upload.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/lib/audioplayer.css' %}">

  <!-- main css -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

  <!-- Theme Customization Structure Start -->



  </div>
  <!-- Theme Customization Structure End -->
  <aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
      <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
      <a href="index.html" class="sidebar-logo">

        <img src="{% static 'assets/images/logo/sridixitha_logo.gif' %}" alt="site1 logo" class="light-logo">

        <img src="{% static 'assets/images/logo/sridixitha_logo.gif' %}" alt="site2 logo" class="logo-icon">
      </a>
    </div>


    <div class="sidebar-menu-area">
      <ul class="sidebar-menu" id="sidebar-menu">
        <li class="sidebar-menu-group-title">Main</li>

        {% if user.is_authenticated %}

        <!-- ================= SUPERADMIN ================= -->
        {% if user.role == "superadmin" %}

        <li class="sidebar__item {% if request.resolver_match.url_name == 'superadmin_dashboard' %}active{% endif %}">
          <a href="{% url 'superadmin_dashboard' %}">
            <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'create_admin' %}active{% endif %}">
          <a href="{% url 'create_admin' %}">
            <iconify-icon icon="mdi:account-plus-outline" class="menu-icon"></iconify-icon>
            <span>Create Admin</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'all_users' %}active{% endif %}">
          <a href="{% url 'all_users' %}">
            <iconify-icon icon="mdi:account-group-outline" class="menu-icon"></iconify-icon>
            <span>All Users</span>
          </a>
        </li>

        <li class="sidebar-menu-group-title">Manage</li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'create_service' %}active{% endif %}">
          <a href="{% url 'create_service' %}">
            <iconify-icon icon="mdi:briefcase-outline" class="menu-icon"></iconify-icon>
            <span>Services</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'superadmin_orders' %}active{% endif %}">
          <a href="{% url 'superadmin_orders' %}">
            <iconify-icon icon="mdi:cart-outline" class="menu-icon"></iconify-icon>
            <span>All Leads</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'admin_payments' %}active{% endif %}">
          <a href="{% url 'admin_payments' %}">
            <iconify-icon icon="mdi:credit-card-outline" class="menu-icon"></iconify-icon>
            <span>Payments</span>
          </a>
        </li>

        <li class="sidebar-menu-group-title">Dashboard</li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'news.list' %}active{% endif %}">
          <a href="{% url 'news.list' %}">
            <iconify-icon icon="mdi:newspaper-variant-multiple-outline" class="menu-icon"></iconify-icon>
            <span>News</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.banner' %}active{% endif %}">
          <a href="{% url 'list.banner' %}">
            <iconify-icon icon="mdi:image-area" class="menu-icon"></iconify-icon>
            <span>Hero Section</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.category' %}active{% endif %}">
          <a href="{% url 'list.category' %}">
            <iconify-icon icon="mdi:shape-outline" class="menu-icon"></iconify-icon>
            <span>Categories</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.category.services' %}active{% endif %}">
          <a href="{% url 'list.category.services' %}">
            <iconify-icon icon="mdi:tools" class="menu-icon"></iconify-icon>
            <span>Categories Services</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'services.list' %}active{% endif %}">
          <a href="{% url 'services.list' %}">
            <iconify-icon icon="mdi:tools" class="menu-icon"></iconify-icon>
            <span>Services</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.jobs' %}active{% endif %}">
          <a href="{% url 'list.jobs' %}">
            <iconify-icon icon="mdi:briefcase-outline" class="menu-icon"></iconify-icon>
            <span>Jobs</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.feedback' %}active{% endif %}">
          <a href="{% url 'list.feedback' %}">
            <iconify-icon icon="mdi:message-text-outline" class="menu-icon"></iconify-icon>
            <span>Feedbacks</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.contact' %}active{% endif %}">
          <a href="{% url 'list.contact' %}">
            <iconify-icon icon="mdi:email-outline" class="menu-icon"></iconify-icon>
            <span>Inquery Contacts</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.footer' %}active{% endif %}">
          <a href="{% url 'list.footer' %}">
            <iconify-icon icon="mdi:arrow-down-bold-box-outline" class="menu-icon"></iconify-icon>
            <span>Footer</span>
          </a>
        </li>


        <!-- ================= ADMIN ================= -->
        {% elif user.role == "admin" %}

        <li class="sidebar__item {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
          <a href="{% url 'admin_dashboard' %}">
            <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'all_users' %}active{% endif %}">
          <a href="{% url 'all_users' %}">
            <iconify-icon icon="mdi:account-group-outline" class="menu-icon"></iconify-icon>
            <span>All Users</span>
          </a>
        </li>




        <li class="sidebar__item {% if request.resolver_match.url_name == 'create_vendor' %}active{% endif %}">
          <a href="{% url 'create_vendor' %}">
            <iconify-icon icon="mdi:account-plus-outline" class="menu-icon"></iconify-icon>
            <span>Create Vendor</span>
          </a>
        </li>

        <li class="sidebar-menu-group-title">Manage</li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'admin_orders' %}active{% endif %}">
          <a href="{% url 'admin_orders' %}">
            <iconify-icon icon="mdi:cart-outline" class="menu-icon"></iconify-icon>
            <span>Leads</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'admin_payments' %}active{% endif %}">
          <a href="{% url 'admin_payments' %}">
            <iconify-icon icon="mdi:credit-card-outline" class="menu-icon"></iconify-icon>
            <span>Payments</span>
          </a>
        </li>
        <li class="sidebar-menu-group-title">Dashboard</li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'news.list' %}active{% endif %}">
          <a href="{% url 'news.list' %}">
            <iconify-icon icon="mdi:newspaper-variant-multiple-outline" class="menu-icon"></iconify-icon>
            <span>News</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.banner' %}active{% endif %}">
          <a href="{% url 'list.banner' %}">
            <iconify-icon icon="mdi:image-area" class="menu-icon"></iconify-icon>
            <span>Hero Section</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.category' %}active{% endif %}">
          <a href="{% url 'list.category' %}">
            <iconify-icon icon="mdi:shape-outline" class="menu-icon"></iconify-icon>
            <span>Categories</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.category.services' %}active{% endif %}">
          <a href="{% url 'list.category.services' %}">
            <iconify-icon icon="mdi:tools" class="menu-icon"></iconify-icon>
            <span>Categories Services</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'services.list' %}active{% endif %}">
          <a href="{% url 'services.list' %}">
            <iconify-icon icon="mdi:tools" class="menu-icon"></iconify-icon>
            <span>Services</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.jobs' %}active{% endif %}">
          <a href="{% url 'list.jobs' %}">
            <iconify-icon icon="mdi:briefcase-outline" class="menu-icon"></iconify-icon>
            <span>Jobs</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.feedback' %}active{% endif %}">
          <a href="{% url 'list.feedback' %}">
            <iconify-icon icon="mdi:message-text-outline" class="menu-icon"></iconify-icon>
            <span>Feedbacks</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.contact' %}active{% endif %}">
          <a href="{% url 'list.contact' %}">
            <iconify-icon icon="mdi:email-outline" class="menu-icon"></iconify-icon>
            <span>Inquery Contacts</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'list.footer' %}active{% endif %}">
          <a href="{% url 'list.footer' %}">
            <iconify-icon icon="mdi:arrow-down-bold-box-outline" class="menu-icon"></iconify-icon>
            <span>Footer</span>
          </a>
        </li>



        <!-- ================= VENDOR ================= -->
        {% elif user.role == "vendor" %}

        <li class="sidebar__item {% if request.resolver_match.url_name == 'vendor_dashboard' %}active{% endif %}">
          <a href="{% url 'vendor_dashboard' %}">
            <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="sidebar-menu-group-title">Manage</li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'vendor_orders' %}active{% endif %}">
          <a href="{% url 'vendor_orders' %}">
            <iconify-icon icon="mdi:briefcase-outline" class="menu-icon"></iconify-icon>
            <span>My Leads</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'vendor_payments' %}active{% endif %}">

          <a href="{% url 'vendor_payments' %}">

            <iconify-icon icon="mdi:cash-multiple" class="menu-icon"></iconify-icon>

            <span>Payments</span>

          </a>

        </li>


        <!-- ================= CUSTOMER ================= -->
        {% else %}

        <li class="sidebar__item {% if request.resolver_match.url_name == 'customer_dashboard' %}active{% endif %}">
          <a href="{% url 'customer_dashboard' %}">
            <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="sidebar-menu-group-title">Manage</li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'customer_orders' %}active{% endif %}">
          <a href="{% url 'customer_orders' %}">
            <iconify-icon icon="mdi:cart-outline" class="menu-icon"></iconify-icon>
            <span>My Services</span>
          </a>
        </li>

        <li class="sidebar__item">
          <a href="2">
            <iconify-icon icon="mdi:clipboard-text-outline" class="menu-icon"></iconify-icon>
            <span>Privacy Policy</span>
          </a>
        </li>

        <li class="sidebar__item">
          <a href="1">
            <iconify-icon icon="mdi:note-text-outline" class="menu-icon"></iconify-icon>
            <span>Remarks</span>
          </a>
        </li>

        <li class="sidebar__item {% if request.resolver_match.url_name == 'feedbackform' %}active{% endif %}">
          <a href="{% url 'feedbackform' %}">
            <iconify-icon icon="mdi:message-text-outline" class="menu-icon"></iconify-icon>
            <span>Feedback & Suggestions</span>
          </a>
        </li>




        {% endif %}
        {% endif %}

      </ul>
    </div>






































  </aside>

  <main class="dashboard-main">
    <div class="navbar-header">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="d-flex flex-wrap align-items-center gap-4">
            <button type="button" class="sidebar-toggle">
              <iconify-icon icon="heroicons:bars-3-solid" class="icon text-2xl non-active"></iconify-icon>
              <iconify-icon icon="iconoir:arrow-right" class="icon text-2xl active"></iconify-icon>
            </button>
            <button type="button" class="sidebar-mobile-toggle">
              <iconify-icon icon="heroicons:bars-3-solid" class="icon"></iconify-icon>
            </button>
            <form class="navbar-search">
              <input type="text" name="search" placeholder="Search">
              <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
            </form>
          </div>
        </div>
        <div class="col-auto">
          <div class="d-flex flex-wrap align-items-center gap-3">
            <button type="button" data-theme-toggle
              class="w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"></button>
            <!-- <div class="dropdown d-none d-sm-inline-block">
              <button
                class="has-indicator w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"
                type="button" data-bs-toggle="dropdown">
                <img src="assets/images/lang-flag.png" alt="image" class="w-24 h-24 object-fit-cover rounded-circle">
              </button>
              <div class="dropdown-menu to-top dropdown-menu-sm">
                <div
                  class="py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
                  <div>
                    <h6 class="text-lg text-primary-light fw-semibold mb-0">Choose Your Language</h6>
                  </div>
                </div>

                <div class="max-h-400-px overflow-y-auto scroll-sm pe-8">
                  <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                    <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="english">
                      <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                        <img src="assets/images/flags/flag1.png" alt="Image"
                          class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                        <span class="text-md fw-semibold mb-0">English</span>
                      </span>
                    </label>
                    <input class="form-check-input" type="radio" name="crypto" id="english">
                  </div>

                  <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                    <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="japan">
                      <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                        <img src="assets/images/flags/flag2.png" alt="Image"
                          class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                        <span class="text-md fw-semibold mb-0">Japan</span>
                      </span>
                    </label>
                    <input class="form-check-input" type="radio" name="crypto" id="japan">
                  </div>

                  <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                    <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="france">
                      <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                        <img src="assets/images/flags/flag3.png" alt="Image"
                          class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                        <span class="text-md fw-semibold mb-0">France</span>
                      </span>
                    </label>
                    <input class="form-check-input" type="radio" name="crypto" id="france">
                  </div>

                  <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                    <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="germany">
                      <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                        <img src="assets/images/flags/flag4.png" alt="Image"
                          class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                        <span class="text-md fw-semibold mb-0">Germany</span>
                      </span>
                    </label>
                    <input class="form-check-input" type="radio" name="crypto" id="germany">
                  </div>

                  <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                    <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="korea">
                      <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                        <img src="assets/images/flags/flag5.png" alt="Image"
                          class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                        <span class="text-md fw-semibold mb-0">South Korea</span>
                      </span>
                    </label>
                    <input class="form-check-input" type="radio" name="crypto" id="korea">
                  </div>

                  <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                    <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="bangladesh">
                      <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                        <img src="assets/images/flags/flag6.png" alt="Image"
                          class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                        <span class="text-md fw-semibold mb-0">Bangladesh</span>
                      </span>
                    </label>
                    <input class="form-check-input" type="radio" name="crypto" id="bangladesh">
                  </div>

                  <div class="form-check style-check d-flex align-items-center justify-content-between mb-16">
                    <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="india">
                      <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                        <img src="assets/images/flags/flag7.png" alt="Image"
                          class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                        <span class="text-md fw-semibold mb-0">India</span>
                      </span>
                    </label>
                    <input class="form-check-input" type="radio" name="crypto" id="india">
                  </div>
                  <div class="form-check style-check d-flex align-items-center justify-content-between">
                    <label class="form-check-label line-height-1 fw-medium text-secondary-light" for="canada">
                      <span class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                        <img src="assets/images/flags/flag8.png" alt="Image"
                          class="w-36-px h-36-px bg-success-subtle text-success-main rounded-circle flex-shrink-0">
                        <span class="text-md fw-semibold mb-0">Canada</span>
                      </span>
                    </label>
                    <input class="form-check-input" type="radio" name="crypto" id="canada">
                  </div>
                </div>
              </div>
            </div> -->
            <!-- Language dropdown end -->

            <div class="dropdown">
              <button
                class="has-indicator w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"
                type="button" data-bs-toggle="dropdown">
                <iconify-icon icon="mage:email" class="text-primary-light text-xl"></iconify-icon>
              </button>
              <div class="dropdown-menu to-top dropdown-menu-lg p-0">
                <div
                  class="m-16 py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
                  <div>
                    <h6 class="text-lg text-primary-light fw-semibold mb-0">Message</h6>
                  </div>
                  <span
                    class="text-primary-600 fw-semibold text-lg w-40-px h-40-px rounded-circle bg-base d-flex justify-content-center align-items-center">05</span>
                </div>

                <div class="max-h-400-px overflow-y-auto scroll-sm pe-4">

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span class="w-40-px h-40-px rounded-circle flex-shrink-0 position-relative">
                        <img src="assets/images/notification/profile-3.png" alt="Image">
                        <span
                          class="w-8-px h-8-px bg-success-main rounded-circle position-absolute end-0 bottom-0"></span>
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Kathryn Murphy</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-100-px">hey! there i’m...</p>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="text-sm text-secondary-light flex-shrink-0">12:30 PM</span>
                      <span
                        class="mt-4 text-xs text-base w-16-px h-16-px d-flex justify-content-center align-items-center bg-warning-main rounded-circle">8</span>
                    </div>
                  </a>

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span class="w-40-px h-40-px rounded-circle flex-shrink-0 position-relative">
                        <img src="assets/images/notification/profile-4.png" alt="Image">
                        <span
                          class="w-8-px h-8-px  bg-neutral-300 rounded-circle position-absolute end-0 bottom-0"></span>
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Robiul Hasan</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-100-px">hey! there i’m...</p>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="text-sm text-secondary-light flex-shrink-0">12:30 PM</span>
                      <span
                        class="mt-4 text-xs text-base w-16-px h-16-px d-flex justify-content-center align-items-center bg-warning-main rounded-circle">2</span>
                    </div>
                  </a>

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between bg-neutral-50">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span class="w-40-px h-40-px rounded-circle flex-shrink-0 position-relative">
                        <img src="assets/images/notification/profile-5.png" alt="Image">
                        <span
                          class="w-8-px h-8-px bg-success-main rounded-circle position-absolute end-0 bottom-0"></span>
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Kathryn Murphy</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-100-px">hey! there i’m...</p>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="text-sm text-secondary-light flex-shrink-0">12:30 PM</span>
                      <span
                        class="mt-4 text-xs text-base w-16-px h-16-px d-flex justify-content-center align-items-center bg-neutral-400 rounded-circle">0</span>
                    </div>
                  </a>

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between bg-neutral-50">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span class="w-40-px h-40-px rounded-circle flex-shrink-0 position-relative">
                        <img src="assets/images/notification/profile-6.png" alt="Image">
                        <span
                          class="w-8-px h-8-px bg-neutral-300 rounded-circle position-absolute end-0 bottom-0"></span>
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Kathryn Murphy</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-100-px">hey! there i’m...</p>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="text-sm text-secondary-light flex-shrink-0">12:30 PM</span>
                      <span
                        class="mt-4 text-xs text-base w-16-px h-16-px d-flex justify-content-center align-items-center bg-neutral-400 rounded-circle">0</span>
                    </div>
                  </a>

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span class="w-40-px h-40-px rounded-circle flex-shrink-0 position-relative">
                        <img src="assets/images/notification/profile-7.png" alt="Image">
                        <span
                          class="w-8-px h-8-px bg-success-main rounded-circle position-absolute end-0 bottom-0"></span>
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Kathryn Murphy</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-100-px">hey! there i’m...</p>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="text-sm text-secondary-light flex-shrink-0">12:30 PM</span>
                      <span
                        class="mt-4 text-xs text-base w-16-px h-16-px d-flex justify-content-center align-items-center bg-warning-main rounded-circle">8</span>
                    </div>
                  </a>

                </div>
                <div class="text-center py-12 px-16">
                  <a href="javascript:void(0)" class="text-primary-600 fw-semibold text-md">See All Message</a>
                </div>
              </div>
            </div><!-- Message dropdown end -->

            <div class="dropdown">
              <button
                class="has-indicator w-40-px h-40-px bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center"
                type="button" data-bs-toggle="dropdown">
                <iconify-icon icon="iconoir:bell" class="text-primary-light text-xl"></iconify-icon>
              </button>
              <div class="dropdown-menu to-top dropdown-menu-lg p-0">
                <div
                  class="m-16 py-12 px-16 radius-8 bg-primary-50 mb-16 d-flex align-items-center justify-content-between gap-2">
                  <div>
                    <h6 class="text-lg text-primary-light fw-semibold mb-0">Notifications</h6>
                  </div>
                  <span
                    class="text-primary-600 fw-semibold text-lg w-40-px h-40-px rounded-circle bg-base d-flex justify-content-center align-items-center">05</span>
                </div>

                <div class="max-h-400-px overflow-y-auto scroll-sm pe-4">
                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span
                        class="w-44-px h-44-px bg-success-subtle text-success-main rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                        <iconify-icon icon="bitcoin-icons:verify-outline" class="icon text-xxl"></iconify-icon>
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Congratulations</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-200-px">Your profile has been Verified. Your
                          profile has been Verified</p>
                      </div>
                    </div>
                    <span class="text-sm text-secondary-light flex-shrink-0">23 Mins ago</span>
                  </a>

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between bg-neutral-50">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span
                        class="w-44-px h-44-px bg-success-subtle text-success-main rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                        <img src="assets/images/notification/profile-1.png" alt="Image">
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Ronald Richards</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-200-px">You can stitch between artboards</p>
                      </div>
                    </div>
                    <span class="text-sm text-secondary-light flex-shrink-0">23 Mins ago</span>
                  </a>

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span
                        class="w-44-px h-44-px bg-info-subtle text-info-main rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                        AM
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Arlene McCoy</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-200-px">Invite you to prototyping</p>
                      </div>
                    </div>
                    <span class="text-sm text-secondary-light flex-shrink-0">23 Mins ago</span>
                  </a>

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between bg-neutral-50">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span
                        class="w-44-px h-44-px bg-success-subtle text-success-main rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                        <img src="assets/images/notification/profile-2.png" alt="Image">
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Robiul Hasan</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-200-px">Invite you to prototyping</p>
                      </div>
                    </div>
                    <span class="text-sm text-secondary-light flex-shrink-0">23 Mins ago</span>
                  </a>

                  <a href="javascript:void(0)"
                    class="px-24 py-12 d-flex align-items-start gap-3 mb-2 justify-content-between">
                    <div class="text-black hover-bg-transparent hover-text-primary d-flex align-items-center gap-3">
                      <span
                        class="w-44-px h-44-px bg-info-subtle text-info-main rounded-circle d-flex justify-content-center align-items-center flex-shrink-0">
                        DR
                      </span>
                      <div>
                        <h6 class="text-md fw-semibold mb-4">Darlene Robertson</h6>
                        <p class="mb-0 text-sm text-secondary-light text-w-200-px">Invite you to prototyping</p>
                      </div>
                    </div>
                    <span class="text-sm text-secondary-light flex-shrink-0">23 Mins ago</span>
                  </a>
                </div>

                <div class="text-center py-12 px-16">
                  <a href="javascript:void(0)" class="text-primary-600 fw-semibold text-md">See All Notification</a>
                </div>

              </div>
            </div><!-- Notification dropdown end -->

            <div class="dropdown">
              <button class="d-flex justify-content-center align-items-center rounded-circle" type="button"
                data-bs-toggle="dropdown">
                <img src="{% static 'assets/images/tes/tes4.png' %}" alt="image"
                  class="w-40-px h-40-px object-fit-cover rounded-circle">
              </button>
              <div class="dropdown-menu to-top dropdown-menu-sm">
                <div class="py-12 px-16 radius-8  mb-16 d-flex align-items-center justify-content-between gap-2">
                  <div>
                    <div class="d-flex justify-content-between"> <span
                        class="text-secondary-light fw-medium text-sm">{{request.user.role}}</span>
                      <button type="button" class="hover-text-danger"
                        style="border: 1px solid hsl(35, 100%, 50%); color: hsl(35, 100%, 50%);">
                        <iconify-icon icon="radix-icons:cross-1" class="icon text-xl"></iconify-icon>
                      </button>
                    </div>
                    <h6 class="text-lg text-primary-light fw-semibold mb-2">{% if user.is_authenticated %}
                      <p style="margin-top: 10px;">{{ request.user.email }}</p>
                      {% else %}
                      <p>Welcome, Guest</p>
                      {% endif %}
                    </h6>

                  </div>

                </div>
                <ul class="to-top-list">
                  <li>
                    <a class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3"
                      href="{% url 'profile' %}">
                      <iconify-icon icon="solar:user-linear" class="icon text-xl"></iconify-icon> My Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3"
                      href="email.html">
                      <iconify-icon icon="tabler:message-check" class="icon text-xl"></iconify-icon> Inbox</a>
                  </li>
                  <li>
                    <a class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-primary d-flex align-items-center gap-3"
                      href="#">
                      <iconify-icon icon="icon-park-outline:setting-two" class="icon text-xl"></iconify-icon>
                      Setting</a>
                  </li>
                  <li>
                    <form method="POST" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit"
                        class="dropdown-item text-black px-0 py-8 hover-bg-transparent hover-text-danger d-flex align-items-center gap-3"
                        style="border:none;background:none;width:100%;text-align:left;">

                        <iconify-icon icon="lucide:power" class="icon text-xl"></iconify-icon>
                        Log Out

                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </div><!-- Profile dropdown end -->
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-main-body">



      {% block content %}
      {% endblock %}


  </main>
  {% load static %}

  <!-- jQuery library js -->
  <script src="{% static 'assets/js/lib/jquery-3.7.1.min.js' %}"></script>

  <!-- Bootstrap js -->
  <script src="{% static 'assets/js/lib/bootstrap.bundle.min.js' %}"></script>

  <!-- Apex Chart js -->
  <script src="{% static 'assets/js/lib/apexcharts.min.js' %}"></script>

  <!-- Data Table js -->
  <script src="{% static 'assets/js/lib/dataTables.min.js' %}"></script>

  <!-- Iconify Font js -->
  <script src="{% static 'assets/js/lib/iconify-icon.min.js' %}"></script>

  <!-- jQuery UI js -->
  <script src="{% static 'assets/js/lib/jquery-ui.min.js' %}"></script>

  <!-- Vector Map js -->
  <script src="{% static 'assets/js/lib/jquery-jvectormap-2.0.5.min.js' %}"></script>
  <script src="{% static 'assets/js/lib/jquery-jvectormap-world-mill-en.js' %}"></script>

  <!-- Popup js -->
  <script src="{% static 'assets/js/lib/magnifc-popup.min.js' %}"></script>

  <!-- Slick Slider js -->
  <script src="{% static 'assets/js/lib/slick.min.js' %}"></script>

  <!-- prism js -->
  <script src="{% static 'assets/js/lib/prism.js' %}"></script>

  <!-- file upload js -->
  <script src="{% static 'assets/js/lib/file-upload.js' %}"></script>

  <!-- audioplayer -->
  <script src="{% static 'assets/js/lib/audioplayer.js' %}"></script>

  <!-- main js -->
  <script src="{% static 'assets/js/app.js' %}"></script>

  <script src="{% static 'assets/js/homeOneChart.js' %}"></script>

</body>

<!-- Mirrored from wowdash.wowtheme7.com/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Apr 2026 08:55:54 GMT -->

</html>