{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-success mt-3 auto-hide d-flex justify-content-between align-items-center">

      <span>{{ message }}</span>

      <!--  Close Button -->
      <button type="button" class="btn-close" onclick="closeAlert(this)"></button>

    </div>
  {% endfor %}
{% endif %}
    <div class="card shadow-sm border-0 rounded-3">

        <!-- HEADER -->
        <div class="card-header bg-dark text-white">

            <form method="GET" class="d-flex gap-2 align-items-center">

                <select name="category" onchange="this.form.submit()" class="form-select w-auto">
                    <option value="">-- Select Category --</option>

                    {% for cat in categories %}
                    <option value="{{ cat.id }}"
                        {% if selected_category and selected_category.id == cat.id %}selected{% endif %}>
                        {{ cat.title }}
                    </option>
                    {% endfor %}
                </select>

            </form>
             <a href="{% url 'create.footer' %}" class="btn btn-sm btn-light">
                <i class="bi bi-plus-circle-fill"></i> Add Services
            </a>

        </div>

        <!-- BODY -->
        <div class="card-body table-responsive">

            {% if selected_category %}

            <h5 class="mb-3">
                {{ selected_category.title }} - Services List
            </h5>

            <table class="table table-bordered table-hover">

                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Service Title</th>
                        <th>Tag</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Created At</th>
                    </tr>
                </thead>

                <tbody>

                    {% for service in services %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ service.s_title }}</td>
                        <td><span class="badge bg-secondary">{{ service.s_tag }}</span></td>
                        <td>{{ service.s_desc|truncatechars:60 }}</td>

                        <td>
                            {% if service.image %}
                            <img src="{{ service.image.url }}" width="60" height="60">
                            {% else %}-{% endif %}
                        </td>

                        <td>{{ service.created_at|date:"d M Y" }}</td>
                         <td class="text-center">
                            <a href="{% url 'update.category.services' service.id %}" class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <a href="{% url 'delete.category.services' service.id %}" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center text-muted">
                            No services found
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

            {% else %}
                <p class="text-muted text-center">Please select a category</p>
            {% endif %}

        </div>

    </div>
</div>

<!-- PAGINATION -->
{% if page_obj.has_other_pages %}
<div class="d-flex justify-content-center mt-4">

    <ul class="pagination">

        {% if page_obj.has_previous %}
        <li>
            <a href="?category={{ selected_category.id }}&page={{ page_obj.previous_page_number }}">←</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="active"><span class="text-dark bg-primary">{{ num }}</span></li>
            {% else %}
                <li>
                    <a href="?category={{ selected_category.id }}&page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href="?category={{ selected_category.id }}&page={{ page_obj.next_page_number }}">→</a>
        </li>
        {% endif %}

    </ul>

</div>
{% endif %}

{% endblock %}